<div class="">
    <mat-card style="display: flex; justify-content: space-evenly; padding: 5vw;">
        <img src="https://media.discordapp.net/attachments/889362805713678407/988895849415336036/business-office-flatlay-contact-us.jpg?width=864&height=576" alt="" style="width: 35%; height: 30vw;">

        <form class="form">
            <h1 style="font-size: xxx-large; margin: 2vw;">Contact Us</h1>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput>
            </mat-form-field><br>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field><br>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Message</mat-label>
              <input matInput #message maxlength="156" placeholder="Ex. I need help/information with...">
              <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 156</mat-hint>
            </mat-form-field>
            <div style="text-align: right; margin: 2vw 2vw;">
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </form>
    </mat-card>
    <div style="display: flex; margin: 3vw;">
        <div style="width: 100%">
            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=Suite%20B11,%20Pinnacle%20Pointe,%2053%20Lady%20Musgrave%20Rd,%20Kingston+(My%20Business%20Name)&amp;t=h&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                <a href="https://www.gps.ie/wearable-gps/">wearable gps</a>
            </iframe>
        </div>
        <div style="margin-right: 3vw; width: 25%;">
            <div style="padding: 1vw;">
                <div style="padding-top: 1vw;">
                    <h2 style="font-size: x-large;">Call Us</h2>
                    <a style=" text-decoration: none;" href="tel:+13054206361">+1 305-420-6361</a>
                </div>
                <div style="padding-top: 1vw;">
                    <h2 style="font-size: x-large;">Visit Us</h2>
                    <a style=" text-decoration: none;" href="`https://www.google.com/maps/place/Amber+Group+Limited/@18.013608,
                    -76.779754,15z/data=!4m5!3m4!1s0x0:0xdb7282a486d0eadd!8m2!3d18.013608!4d-76.779754`">Suite B11, Pinnacle Pointe, 53 Lady Musgrave Rd, Kingston</a>
                </div>
            </div>
        </div>
    </div>
</div>
