<div style="height: 90vh; position: relative; background-color: #bfd7ea;">
    <div style="margin: auto;">
    <div style="position: absolute; margin-left: 12vw; margin-top: 4vw;">
        <img src="https://media.discordapp.net/attachments/889362805713678407/988881473975251004/istockphoto-941469070-612x612.jpg" style="width: 30vw; height: 35vw; " alt="">
    </div>
    <div style="display: flex; padding: 1vw; z-index: -99;">
        <div style="height: 20vw; width: 45vw; background-color: cadetblue; margin-top: 23vw; margin-left: 5vw;"></div>
        <div style="height: 40vw; width: 35vw; margin-top: 3vw; background-color: blanchedalmond; ">
            <div style="padding: 5vw; ">
                <div>
                    <span style="font-size: large;">AmberEateries</span>
                    <h1 style="text-transform: capitalize; font-size: xxx-large; margin-top: 8px;">About Us</h1>
                </div>
                <div style=" margin: 2.5vw 0; line-height: 30px;">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi est adipisci aut architecto, quae dicta eaque cumque veritatis molestias corporis iure illo maxime quas voluptas soluta, minima officia dolorum nemo?
                    </p>
                </div>
            </div>
            <div style="text-align: center;">
                <button routerLink="/" >Learn More</button>
            </div>
        </div>
    </div>
</div>
