<div style="padding: 20px; height: 76%;">
    <mat-card style=" margin: auto; width: 50vw; padding: 19px !important;">
        <mat-card-header>
            <h1>
                Your Order Has Been Completed!
            </h1>
        </mat-card-header>
        <mat-card-content style="padding: 2vw;">
            <p>
                Please Return to Home Page
            </p>
        </mat-card-content>
        <mat-card-actions style="text-align: right; padding-bottom: 2%; flex: none; margin: 0 2vw;">
            <button mat-button routerLink="/" style="border: 2px blue solid; border-radius: 3px;">Return Home</button>
        </mat-card-actions>
    </mat-card>
</div>
